.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  padding: 1em 1em;
}

.mainNav {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 700px) {
  .header {
    flex-direction: row;
    align-items: center;
  }
  .mainNav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .pages {
    padding-right: 2em;
  }
}

.me {
  display: flex;
  column-gap: 2em;
  align-items: center;
}

.pages {
  display: flex;
  align-items: center;
  list-style: none;
  column-gap: 2em;
}

.content {
  display: flex;
  padding-top: 5em;
  justify-content: center;
  flex-grow: 1;
}

.footer {
  /* margin-top: auto; */
}