.routes {
  padding-left: 0.5em;
}

.routes a {
  padding: 1em 1em 1.3em 1em;
}

.routes a:hover, .active a{
  background-color: #D3D3C3;
}

.socials {
  justify-content: right;
  padding-right: 1em;
}

@media only screen and (max-width: 700px) {
  .socials li {
    background-color: #E8E8D8;
    justify-content: right;
    padding-right: 0em;
  }

  .routes
  .socials li {
    margin: 0 2em;
  }
}

.socials li {
  padding-right: 0.5em;
}